:root {
     --inputbg: #3c096c;
    --inputborder: #5a189a;
    --uibg: #240046;
    --textcolor: #fff;
    --bg: #10002b;
}
body {
 --inputbg: #3c096c;
    --inputborder: #5a189a;
    --uibg: #240046;
    --textcolor: #fff;
    --bg: #10002b;
}
body[theme=threekho] {
 --inputbg: #28A018;
    --inputborder: #0A8F00;
    --uibg: #111111;
    --textcolor: #fff;
    --bg: #000000;
}
body[theme=custom] {
    --inputbg: #3c096c;
    --inputborder: #5a189a;
    --uibg: #240046;
    --textcolor: #fff;
    --bg: #10002b;
}
body[theme=main] {
    --inputbg: #3c096c;
    --inputborder: #5a189a;
    --uibg: #240046;
    --textcolor: #fff;
    --bg: #10002b;
}
body[theme=light] {
    --inputbg: #bbbbbb;
    --inputborder: #e6e6e6;
    --uibg: #b3b3b3;
    --textcolor: #1a1a1a;
    --bg: #c5c5c5;
}
body[theme=dark] {
    --inputbg: #333333;
    --inputborder: #444444;
    --uibg: #242424;
    --textcolor: #fff;
    --bg: #0c0c0c;
}
body[theme=egamepass] {
    --inputbg: #4f6ed1;
    --inputborder: #5586e0;
    --uibg: #185494;
    --textcolor: #a7d3ff;
    --bg: #16416f;
}
body[theme=cools1te] {
    --inputbg: #a134dc;
    --inputborder: #b153e3;
    --uibg: #ab28cf;
    --textcolor: #d3a4fa;
    --bg: #8e14af;
}
body[theme=sunset] {
    --inputbg: #537294;
    --inputborder: #30719c;
    --uibg: #2a7491;
    --textcolor: #fff;
    --bg: url("img/backgrounds/sunset_theme.jpg"), rgb(59, 67, 78);
    /* https://wallhaven.cc/w/jxl3qp */
    --shadow: 0px 0px 2px #a5dcf5;
}
body[theme=mountains] {
    --inputbg: #d37f7f;
    --inputborder: #e28a8a;
    --uibg: #d38493;
    --textcolor: #fff;
    --bg: url("img/backgrounds/mountains_theme.jpg"), #bf7483;
    /* https://wallhaven.cc/w/l82kpr */
    --shadow: 0px 0px 4px #bba29b;
}
body[theme=vaporwave] {
    --inputbg: #4b2d64;
    --inputborder: #74568d;
    --uibg: #51166d;
    --textcolor: #fff;
    --bg: url("img/backgrounds/vaporwave_theme.jpg"), #61437a;
    /* https://wallhaven.cc/w/l82kpr */
    --shadow: 0px 0px 4px #000000;
}
body[theme=seraph] {
    --inputbg: #000;
    --inputborder: #fff;
    --uibg: #000;
    --textcolor: #fff;
    --bg: url("img/backgrounds/seraph_theme.png"), #61437a;
    /* seraph */
    --shadow: 0px 0px 4px #fff;
}